.blue-stripe {
  background-color: #b5e9dd;
  height: 50px;
  width: 100%;
  border-radius: 25px;
  display: flex;
  align-items: center;
  z-index: 5;
  margin: 0 auto; 
}


.blue-circle {
  background-color: #04b68a;
  width: 24px;
  height: 24px;
  position: absolute; 
  border-radius: 24px;
  z-index: 10;
}

.date{
  display: flex;
  justify-content: space-between;
  margin: 0% 5%;
  font-weight: bold;
}